<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/home">Help-Me</a></div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><a routerLink="/landing">Landing Page</a></li>
      <li><a routerLink="/ask">Fazer uma Pergunta</a></li>
      <li><a routerLink="/account">Minha Conta</a></li>
    </ul>
  </div>
</mat-toolbar>